<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2024 The Half Four GmbH</p>

                <a href="https://www.instagram.com/thf.gmbh/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#instagram"></use></svg>@thf.gmbh
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a th:href="@{'/index/agb'}" class="nav-link px-2 text-muted">AGB</a></li>
                    <li class="nav-item"><a th:href="@{'/index/datenschutz'}" class="nav-link px-2 text-muted">Datenschutz</a></li>
                    <li class="nav-item"><a th:href="@{'/index/impressum'}" class="nav-link px-2 text-muted">Impressum</a></li>
                    <li class="nav-item"><a href="Kontakt.html" class="nav-link px-2 text-muted">Kontakt</a></li>
                </ul>
            </footer>
        </div>
    </div>○
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></body>
</html>
