<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>The Half Four - Luxus-Jachten Shop</title>
</head>
<body class="bg-white text-black">

<!-- Navbar -->
<script type="text/javascript" th:src="@{/js/script.js}"></script>

<div th:include="fragment/header :: header"></div>

<div class="container" style="padding-top: 20px;">
    <div class="row text-with-image">
        <div class="text-container">
            <h5>
                LUXURY YACHTS GMBH AUS RHEINLAND-PFALZ
            </h5>
            <br>
            <h2 class="custom-text-color">
                EXKLUSIVE YACHTEN FÜR HÖCHSTEN LEBENSGENUSS
            </h2>
            <p>
                Die Luxus-Yacht GmbH ist Ihr Ansprechpartner für exklusive Yachten seit über 15 Jahren. Mit Sitz in Rheinland-Pfalz sind wir die beste Wahl für Ihr nächstes Segelabenteuer. Wir beraten Sie gerne rund um die Themen Luxus, Komfort und Sicherheit und legen dabei großen Wert auf herausragende Qualität, Zuverlässigkeit und erstklassigen Service.
                <br><br>
                Auf unserer Webseite präsentieren wir Ihnen unsere exklusiven Yachten und Services. Wir bieten eine breite Palette an Yachten, die von modernen Segelbooten bis hin zu luxuriösen Motorjachten reichen. Unser engagiertes Team steht Ihnen auch nach dem Kauf mit Wartung und Service zur Verfügung.
                <br><br>
                Alle unsere Yachten können individuell an Ihre Bedürfnisse angepasst werden - dank modernster Fertigungstechnik und einem exzellenten Preis-Leistungsverhältnis. Kontaktieren Sie uns für eine unverbindliche Beratung. Unser Team freut sich darauf, von Ihnen zu hören!
            </p>
            <div class="card-group mt-5">
                <div class="card cardcustom text-center custom-background-color">
                    <img src="/IMG/Yacht9.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title custom-text-color">Kontaktieren Sie uns</h5>
                        <p class="card-text">Bei Fragen zu unseren Yachten, maßgeschneiderten Angeboten oder speziellen Anforderungen stehen wir Ihnen gerne zur Verfügung. Unser kompetentes Team ist bereit, Ihnen zu helfen.</p>
                        <a href="Kontakt.html" class="btn btn-primary mt-auto">Jetzt kontaktieren</a>
                    </div>
                </div>
                <div class="card cardcustom text-center custom-background-color">
                    <img src="/IMG/Yacht10.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title custom-text-color">Förderungen</h5>
                        <p class="card-text">Erfahren Sie mehr über mögliche Förderprogramme für den Kauf Ihrer Traumyacht. Unser engagiertes Team unterstützt Sie gerne bei der Auswahl und Beantragung von Förderungen.</p>
                        <a href="Foerderungen.html" class="btn btn-primary mt-auto">Mehr erfahren</a>
                    </div>
                </div>
                <div class="card cardcustom text-center custom-background-color">
                    <img src="/IMG/Yacht11.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title custom-text-color">Unsere Yachten</h5>
                        <p class="card-text">Entdecken Sie unsere exklusive Auswahl an Yachten, die höchsten Luxus und Komfort bieten. Wir laden Sie ein, die Welt der Luxus-Yachten mit uns zu erkunden.</p>
                        <a href="Yachten.html" class="btn btn-primary mt-auto">Mehr erfahren</a>
                    </div>
                </div>
            </div>

            <br><br>
            <h4 class="text-center custom-text-color">
                YACHTEN FÜR EINEN LEBENSSTIL DER EXTRAKLASSE
            </h4>
            <p class="text-center">
                Eine Yacht ist nicht nur ein Boot. Unsere exklusiven Yachten bieten Ihnen ein unvergleichliches Erlebnis auf dem Wasser. Erfahren Sie hier mehr über die einzigartigen Merkmale unserer Luxus-Yachten und worauf Sie bei der Auswahl achten sollten.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <br>
    <div class="row">
        <div class="col-xl-6 order-xl-last p-0">
            <img src="/IMG/Yacht11.jpg" alt="Bild" class="img-fluid">
        </div>
        <div class="col-xl-6 d-flex flex-column align-items-center justify-content-center p-5 custom-background-color2">
            <p class="custom-text-color fs-3 text-center">
                Luxus und Komfort auf hoher See
            </p>
            <p class="text-center">
                Unsere Yachten bieten Ihnen unübertroffenen Luxus und Komfort. Entdecken Sie die Welt der exklusiven Ausstattung und Annehmlichkeiten, die unsere Yachten zu bieten haben.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl-6 p-0">
            <img src="/IMG/Yacht12.jpg" alt="Bild" class="img-fluid my-0 mx-0 p-0 !important">
        </div>
        <div class="col-xl-6 d-flex flex-column align-items-center justify-content-center p-5 custom-background-color3">
            <p class="custom-text-color fs-3 text-center">
                Sicherheit an Bord
            </p>
            <p class="text-center">
                Die Sicherheit unserer Passagiere hat für uns oberste Priorität. Erfahren Sie mehr über die modernen Sicherheitsmerkmale und -systeme, die unsere Yachten zu einem sicheren Reiseerlebnis machen.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 order-xl-last p-0">
            <img src="/IMG/Yacht13.jpg" alt="Bild" class="img-fluid">
        </div>
        <div class="col-xl-6 d-flex flex-column align-items-center justify-content-center p-5 custom-background-color2">
            <p class="custom-text-color fs-3 text-center">
                Eine Welt des Luxus und der Entspannung
            </p>
            <p class="text-center">
                Entfliehen Sie dem Alltag und tauchen Sie ein in eine Welt des Luxus und der Entspannung auf unseren exklusiven Yachten. Erleben Sie unvergessliche Momente auf dem Meer und lassen Sie sich von unserem erstklassigen Service verwöhnen.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl-6 p-0">
            <img src="/IMG/Yacht2.jpg" alt="Bild" class="img-fluid">
        </div>
        <div class="col-xl-6 d-flex flex-column align-items-center justify-content-center p-5 custom-background-color3">
            <p class="custom-text-color fs-3 text-center">
                Einzigartiges Design und Handwerkskunst
            </p>
            <p class="text-center">
                Jede unserer Yachten ist ein Meisterwerk der Handwerkskunst und des Designs. Erfahren Sie mehr über die einzigartigen Designmerkmale und die Liebe zum Detail, die unsere Yachten auszeichnen.
            </p>
        </div>
    </div>
    <div class="card cardcustom text-center custom-background-color2">
        <a href="Yachten.html" class="custom-link">
            <div class="card-body">
                <h5 class="card-title">Jetzt Yachten entdecken!</h5>
            </div>
        </a>
    </div>
</div>

<div th:include="fragment/products :: products"></div>

<div th:include="fragment/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></body>
</html>
